html {
 	background: rgb(255,236,192);
	background: linear-gradient(36deg, rgba(255,236,192,1) 0%, rgba(249,224,250,1) 100%); 
	font-family: 'Mitr', sans-serif;
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
}

input {
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	width: 30vw;
	height: 4vh;
	margin: 5px 2px 5px 2px;
	border-radius: 10px;
}

input[type=number] { 
  	-webkit-appearance: none; 
  	margin: 5px 2px 5px 2px;
	width: 30vw;
	height: 4vh;
  	-moz-appearance: textfield;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	background: white;
	list-style: none;
	border-bottom: 1px solid #D8D8D8;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.14);
	margin: 0;
	border-radius: 10px;
	background: #effaff;
}

a {
	text-decoration: none;
	color: black;
}

.headerText {
	text-align: center;
	min-height: 15vh;
	font-size: 5vw;
	color: rgb(255,123,0);
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.conversions {
	display: flex;
	flex-direction: column;
	min-height: 80vh;
	align-items: center;
	justify-content: center;
}

.input {
	display: flex;
	flex-direction: row;
}

.inValue {
	transition: all .5s ease;
}

.inUnitContainer {
	display: flex;
	flex-direction: column;
}

.output {
	display: flex;
	flex-direction: row;
}

.outValue {
	transition: all .5s ease;
}

.outUnitContainer {
	display: flex;
	flex-direction: column;
}

.footerText {
	text-align: center;
	color: black;
}

.newConv {
  background: #fcd423;
}